.main-chat
  .main-chat__group-info
    .main-chat__group-info__name
      .main-chat__group-info__name__group
        test
      .main-chat__group-info__name__member
        Member : masa
    
    = link_to "#",class:"main-chat__group-info__edit" do
      Edit
  .main-chat__message-list
    .main-chat__message-list__list
      .main-chat__message-list__list__name-time
        .main-chat__message-list__list__name-time_name
          masa
        .main-chat__message-list__list__name-time__time
          2020/04/15
      .main-chat__message-list__list__text
        おはよう

      .main-chat__message-list__list__name-time
        .main-chat__message-list__list__name-time_name
          masa
        .main-chat__message-list__list__name-time__time
          2020/04/15
      .main-chat__message-list__list__text
        おはよう


  .main-chat__message-form
    .main-chat__message-form__box
      .main-chat__message-form__box__text-image
        %input{type:"text",class:"main-chat__message-form__box__text-image__text",placeholder:"type a message"}
        %label{class:"main-chat__message-form__box__text-image__image"}
          =icon("far","image")
          %input{type:"file",class:"main-chat__message-form__box__text-image__image__a"}
    .main-chat__message-form__send-btn
      send
    

