.side-ber
  .side-ber__user-name 
    .side-ber__user-name__top-items
      .side-ber__user-name__top-items__name
        masa
      .side-ber__user-name__top-items__icons
      = link_to "#",class: "side-ber__user-name__top-items__icons__new-group" do
        = icon("far","edit")
        

      = link_to "#",class: "side-ber__user-name__top-items__icons__account" do
        = icon("fas","cog")
        

  .side-ber__group-list
    .side-ber__group-list__chat-information

      .side-ber__group-list__chat-information__group-name
        techcamp
      .side-ber__group-list__chat-information__have-messege
        まだメッセージはありません
  
    .side-ber__group-list__chat-information
      .side-ber__group-list__chat-information__group-name
        techcamp
      .side-ber__group-list__chat-information__have-messege
        まだメッセージはありません